# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

/studio-app/node_modules
/studio-app/npm-debug.log
/studio-app/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/coverage
/.nyc_output

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/studio-app/.vscode/*
!/studio-app/.vscode/settings.json
!/studio-app/.vscode/tasks.json
!/studio-app/.vscode/launch.json
!/studio-app/.vscode/extensions.json
/studio-app/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

/studio-app/.angular/cache
/studio-app/.sass-cache/
/studio-app/connect.lock
/studio-app/coverage
/studio-app/libpeerconnection.log
/studio-app/typings
/studio-app/testem.log
/studio-app/package-lock.json


# System files
.DS_Store
Thumbs.db
