# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

/studio-app-angular/dist
/studio-app-angular/node_modules
/studio-app-angular/npm-debug.log
/studio-app-angular/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/coverage
/.nyc_output

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/studio-app-angular/.vscode/*
!/studio-app-angular/.vscode/settings.json
!/studio-app-angular/.vscode/tasks.json
!/studio-app-angular/.vscode/launch.json
!/studio-app-angular/.vscode/extensions.json
/studio-app-angular/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

/studio-app-angular/.angular/cache
/studio-app-angular/.sass-cache/
/studio-app-angular/connect.lock
/studio-app-angular/coverage
/studio-app-angular/libpeerconnection.log
/studio-app-angular/typings
/studio-app-angular/testem.log
/studio-app-angular/package-lock.json


# System files
.DS_Store
Thumbs.db
