<div class="work-container" [ngClass]="{'fullRow': !showConfigurator}">
    <div class="play-container" (drop)="onDrop($event)" (dragover)="allowDrop($event)" [ngClass]="{'useFlex': showConfigurator, 'noShrink': !showConfigurator}">
        <app-tree-grid *ngIf="compType === 'treeGrid'"></app-tree-grid>
        <app-tree-graph *ngIf="compType === 'treeGraph'"></app-tree-graph>
    </div>
    <div class="configure-container" *ngIf="showConfigurator">
        <app-configure></app-configure>
    </div>
</div>
