.work-container {
    display: flex;
    width: calc(100vw - 63px);
}

.play-container {
    flex: 1;
}
.play-container.noShrink {
    height: calc(100vh - 50px);
}
.play-container .helpText {
    margin: 50px 10px;
    width: 90%;
}
.configure-container {
    width: 410px;
    flex: 0 0 410px;
}