<div class="work-container" [ngClass]="{'fullRow': !showConfigurator}">
    <div class="play-container" (drop)="onDrop($event)" (dragover)="allowDrop($event)" [ngClass]="{'useFlex': showConfigurator, 'noShrink': !showConfigurator}">
        <app-tree-grid *ngIf="compType === 'treeGrid'" [treeData]="compData.metaData"></app-tree-grid>
        <app-tree-graph *ngIf="compType === 'treeGraph'" [data]="compData.metaData"></app-tree-graph>
        <div class="helpText" *ngIf="compType === 'none'">
            <mat-card>
                <mat-card-content>
                    <p>This view is to configure the selected component and add them to Component basket once configuration is complete. These components can then be utilised in the configuring the pages.</p>
                    <p>Here is how you do it:</p>
                    <p>Step 1: Drag and drop the component that needs to be configured </p>
                    <p>Step 2: Use the Configure section and change the dynamics of the Component, apply and test them.</p>
                    <p>Step 3: Once the changes are complete, add them to Component basket.</p>
                    <p>Step 4: Continue with other components or Goto component basket to export the code as a zip file</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="compType === ''">
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <div class="configure-container" *ngIf="showConfigurator">
        <app-configure [compoObj]="compData" (onConfigChange)="onConfigChange($event)"></app-configure>
    </div>
</div>
