.header {
    height: 50px;
    background-color: #3F51B5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .app-title {
    /* margin-top: 15px; */
    margin-left: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.header .img-holder {
    background-color: white;
    padding: 2px;
    margin-left: 5px;
    margin-top: 2px;
}
.header .inlineblock {
    display: inline-block;
}
.header .right-part {
    margin-top:15px;
}
.header .right-part .badger-container{
    margin-right: 30px;
}
