.configure-container {
    height: calc(100vh - 50px);
    border-left: solid 1px #ccc;
    overflow-x: auto;
}
.configure-container .form-header {
    background-color: #e7e7e7;
}
.configure-container .form-container {
    margin-top: 10px;
}
.configure-container .form-container .remote-form {
    width: 400px;
    margin-left: 10px;
}
.configure-container .form-container .full-width-field {
    width: 100%
}
.configure-container .data-editor {
    margin-top: 10px;
}
.configure-container .data-editor label {
    font-weight: 500;
    padding: 5px;
}
.configure-container .data-editor .editor-help-text {
    font-size: 12px;
    display: inline-block;
    text-align: end;
    width: 99%;
}
.configure-container .configure-header {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.configure-container .form-footer {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.configure-container .form-footer .ml10 {
    margin-left: 10px;
}